<div>
    <h2>Welcome, {{user.username}}!</h2>
</div>
<ul class="list-group">
    {{#each posts as |post|}}
    <a href="/dashboard/edit/{{id}}">
        <li class="list-item">{{title}} - {{format_date createdAt}}</li>
    </a>
    {{/each}}
</ul>

<footer class = "footer flex-row justify-center">
    <a href="/dashboard/new" >+ New Post</a>
</footer>